body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 2em;
    margin: 20px;
}

.background-color {
    background-color: #ffcc00;
    padding: 10px;
    max-width: 100%;
    width: 100%;
  }

  .home-button button {
    font-size: 18px;
    background-color: #ffcc00;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 15px;
}

.home-button button:hover {
    background-color: #e0a800;
}

/* Home Icon */
.home-button i {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

/* Product List */
.product-list-container {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-box {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin: 10px 0; /* Separate each box */
    border: 1px solid #ccc;
}

.product-box p {
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    word-break: break-word; /* This ensures words break properly in case of long unbreakable strings */
}

.product-box img {
    width: 100%;
    height: auto; /* Adjust the height to auto to maintain aspect ratio */
    max-height: 200px; /* Optionally, limit the height to prevent images from getting too tall */
    object-fit: contain; /* This ensures the whole image is visible without cropping */
    border-radius: 8px;
}

.product-box h3, .product-box p, .product-box span {
    margin: 10px 0;
}

.trash-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #e74c3c;
    font-size: 24px;
}

.trash-icon:hover {
    color: #c0392b;
}

button {
    padding: 12px;
    background-color: #5cb85c;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}